<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="login-form">
    <form action="/member/login" method="post">
        <label for="id">Id</label>
        <input type="text" id="id" name="id" placeholder="input id!!">
        <br />

        <label for="pwd">Password</label>
        <input type="password" id="pwd" name="pwd" placeholder="input password!!">
        <button type="submit">login</button>
    </form>

</div>
</body>
</html>