<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form method="post" action="/member/signin">
        <label for="userId">userID</label>
        <input type="text" id="userId" name="userId"> <br />
        <label for="pwd">userPwd</label>
        <input type="password" id="pwd" name="pwd"> <br />
        <label for="userName">userName</label>
        <input type="text" id="userName" name="userName"> <br />

        <button type="submit">회원가입!</button>
    </form>
</div>
</body>
</html>