<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>board writting form</title>
</head>
<body>
<div class="container">
    <form method="post" action="/post/new">
        <label for="title">title</label>
        <input type="text" id="title" name="title" placeholder="input title!">
        <br />
        <label for="content">content</label>
        <textarea id="content" name="content"></textarea>

        <button type="submit">posting</button>
    </form>
</div>
</body>
</html>