<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>개시판</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <td>제목</td>
            <td>작성자</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td>
                <a th:href="@{/post/detail/{id}(id=${board.id})}" th:text="${board.title}"></a>
            </td>
            <td th:if="${board.author}" th:text="${board.author}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>